$wp-color-primary: #232A31;
$wp-color-secondary: #6d757c;
$wp-color-tertiary: #232A31;
$wp-color-dark: #232A31;
$wp-color-dark-060: #7B7F83;
$wp-color-dark-080: #4F555A;
$wp-color-dark-090: #393F46;
$wp-color-black: #000000;
$wp-color-white: #ffffff;
$wp-color-light: #FFFFFF;
$wp-color-light-020: #D3D4D6;
$wp-color-light-030: #bdbfc1;
$wp-color-accent-a: #F9FAFB;
$wp-color-info-a: #BDBFC1;
$wp-color-info-a-20: #E8E8E8;
$wp-color-info-b: #A1A1A1;
$wp-color-info-b-20: #E8E8E8;
$wp-color-danger: #DC3545;
$wp-color-warning: #FFC107;
$wp-color-success: #198754;
$wp-border-radius-0: 0rem;
$wp-border-radius-100: 0.5rem;
$wp-border-radius-150: 0.75rem;
$wp-border-radius-200: 1rem;
$wp-border-radius-250: 1.25rem;
$wp-border-radius-300: 1.5rem;
$wp-border-radius-400: 2rem;
$wp-border-radius-500: 2.5rem;
$wp-border-radius-600: 3rem;
$wp-border-radius-025: 0.125rem;
$wp-border-radius-050: 0.25rem;
$wp-box-shadow-4: 0px 4px 8px 0px rgba(35, 42, 49, 0.20);
$wp-box-shadow-8: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
$wp-box-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
$wp-box-shadow-focus: 0px 0px 1px 2px #0997FF;
$wp-layout-content: 1320px;
$wp-layout-wide: 1320px;
$wp-layout-sidebar: 322px;
$wp-letter-spacing-none: normal;
$wp-letter-spacing-tight: -.01em;
$wp-letter-spacing-loose: .05em;
$wp-letter-spacing-looser: .1em;
$wp-line-height-tiny: 1.1rem;
$wp-line-height-small: 1.2rem;
$wp-line-height-medium: 1.4rem;
$wp-line-height-normal: 1.6rem;
$wp-font-size-heading-3xl: clamp(2.5rem, 3vw + 1rem, 3.25rem);
$wp-font-size-heading-2xl: clamp(2.25rem, 3vw + 1rem, 2.75rem);
$wp-font-size-heading-xl: clamp(2rem, 2vw + 1rem, 2.25rem);
$wp-font-size-heading-lg: clamp(1.75rem, 2vw + 1rem, 2rem);
$wp-font-size-heading-md: clamp(1.5rem, 2vw + 1rem, 1.75rem);
$wp-font-size-heading-sm: clamp(1.25rem, 1vw + 1rem, 1.5rem);
$wp-font-size-heading-xs: clamp(1.125rem, 1vw + 1rem, 1.25rem);
$wp-font-size-body-lg: 20px;
$wp-font-size-body-md: 16px;
$wp-font-size-body-sm: 14px;
$wp-font-size-body-xs: 12px;
$wp-spacing-25: 0.125rem;
$wp-spacing-50: 0.25rem;
$wp-spacing-75: 0.375rem;
$wp-spacing-100: 0.5rem;
$wp-spacing-150: 0.75rem;
$wp-spacing-200: 1rem;
$wp-spacing-250: 1.25rem;
$wp-spacing-300: 1.5rem;
$wp-spacing-400: 2rem;
$wp-spacing-500: 2.5rem;
$wp-spacing-600: 3rem;
$wp-spacing-800: 4rem;
$wp-spacing-1000: 5rem;
$wp-spacing-none: 0rem;

:root {
  --color-primary: #232A31;
  --color-secondary: #6d757c;
  --color-tertiary: #232A31;
  --color-dark: #232A31;
  --color-dark-060: #7B7F83;
  --color-dark-080: #4F555A;
  --color-dark-090: #393F46;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: #FFFFFF;
  --color-light-020: #D3D4D6;
  --color-light-030: #bdbfc1;
  --color-accent-a: #F9FAFB;
  --color-info-a: #BDBFC1;
  --color-info-a-20: #E8E8E8;
  --color-info-b: #A1A1A1;
  --color-info-b-20: #E8E8E8;
  --color-danger: #DC3545;
  --color-warning: #FFC107;
  --color-success: #198754;
  --border-radius-0: 0rem;
  --border-radius-100: 0.5rem;
  --border-radius-150: 0.75rem;
  --border-radius-200: 1rem;
  --border-radius-250: 1.25rem;
  --border-radius-300: 1.5rem;
  --border-radius-400: 2rem;
  --border-radius-500: 2.5rem;
  --border-radius-600: 3rem;
  --border-radius-025: 0.125rem;
  --border-radius-050: 0.25rem;
  --box-shadow-4: 0px 4px 8px 0px rgba(35, 42, 49, 0.20);
  --box-shadow-8: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-focus: 0px 0px 1px 2px #0997FF;
  --layout-content: 1320px;
  --layout-wide: 1320px;
  --layout-sidebar: 322px;
  --letter-spacing-none: normal;
  --letter-spacing-tight: -.01em;
  --letter-spacing-loose: .05em;
  --letter-spacing-looser: .1em;
  --line-height-tiny: 1.1rem;
  --line-height-small: 1.2rem;
  --line-height-medium: 1.4rem;
  --line-height-normal: 1.6rem;
  --font-size-heading-3xl: clamp(2.5rem, 3vw + 1rem, 3.25rem);
  --font-size-heading-2xl: clamp(2.25rem, 3vw + 1rem, 2.75rem);
  --font-size-heading-xl: clamp(2rem, 2vw + 1rem, 2.25rem);
  --font-size-heading-lg: clamp(1.75rem, 2vw + 1rem, 2rem);
  --font-size-heading-md: clamp(1.5rem, 2vw + 1rem, 1.75rem);
  --font-size-heading-sm: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  --font-size-heading-xs: clamp(1.125rem, 1vw + 1rem, 1.25rem);
  --font-size-body-lg: 20px;
  --font-size-body-md: 16px;
  --font-size-body-sm: 14px;
  --font-size-body-xs: 12px;
  --spacing-25: 0.125rem;
  --spacing-50: 0.25rem;
  --spacing-75: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-none: 0rem;
}