/**
* PX to REM
*/
// https: //www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/
$s10px: 0.625rem;
$s11px: 0.6875rem;
$s12px: 0.75rem;
$s13px: 0.8125rem;
$s14px: 0.875rem;
$s15px: 0.9375rem;
$s16px: 1rem;
$s17px: 1.0625rem;
$s18px: 1.125rem;
$s19px: 1.1875rem;
$s20px: 1.25rem;
$s21px: 1.3125rem;
$s22px: 1.375rem;
$s23px: 1.4375rem;
$s24px: 1.5rem;
$s25px: 1.5625rem;
$s26px: 1.625rem;
$s27px: 1.6875rem;
$s28px: 1.75rem;
$s29px: 1.8125rem;
$s30px: 1.875rem;
$s31px: 1.9375rem;
$s32px: 2rem;
$s33px: 2.0625rem;
$s34px: 2.125rem;
$s35px: 2.1875rem;
$s36px: 2.25rem;
$s37px: 2.3125rem;
$s38px: 2.375rem;
$s39px: 2.4375rem;
$s40px: 2.5rem;
$s41px: 2.5625rem;
$s42px: 2.625rem;
$s43px: 2.6875rem;
$s44px: 2.75rem;
$s45px: 2.8125rem;
$s46px: 2.875rem;
$s47px: 2.9375rem;
$s48px: 3rem;
$s49px: 3.0625rem;
$s50px: 3.125rem;
$s51px: 3.1875rem;
$s52px: 3.25rem;
$s53px: 3.3125rem;
$s54px: 3.375rem;
$s55px: 3.4375rem;
$s56px: 3.5rem;
$s57px: 3.5625rem;
$s58px: 3.625rem;
$s59px: 3.6875rem;
$s60px: 3.75rem;
$s61px: 3.8125rem;
$s62px: 3.875rem;
$s63px: 3.9375rem;
$s64px: 4rem;
$s65px: 4.0625rem;
$s66px: 4.125rem;
$s67px: 4.1875rem;
$s68px: 4.25rem;
$s69px: 4.3125rem;
$s70px: 4.375rem;

:root {
  --s10px: 0.625rem;
  --s11px: 0.6875rem;
  --s12px: 0.75rem;
  --s13px: 0.8125rem;
  --s14px: 0.875rem;
  --s15px: 0.9375rem;
  --s16px: 1rem;
  --s17px: 1.0625rem;
  --s18px: 1.125rem;
  --s19px: 1.1875rem;
  --s20px: 1.25rem;
  --s21px: 1.3125rem;
  --s22px: 1.375rem;
  --s23px: 1.4375rem;
  --s24px: 1.5rem;
  --s25px: 1.5625rem;
  --s26px: 1.625rem;
  --s27px: 1.6875rem;
  --s28px: 1.75rem;
  --s29px: 1.8125rem;
  --s30px: 1.875rem;
  --s31px: 1.9375rem;
  --s32px: 2rem;
  --s33px: 2.0625rem;
  --s34px: 2.125rem;
  --s35px: 2.1875rem;
  --s36px: 2.25rem;
  --s37px: 2.3125rem;
  --s38px: 2.375rem;
  --s39px: 2.4375rem;
  --s40px: 2.5rem;
  --s41px: 2.5625rem;
  --s42px: 2.625rem;
  --s43px: 2.6875rem;
  --s44px: 2.75rem;
  --s45px: 2.8125rem;
  --s46px: 2.875rem;
  --s47px: 2.9375rem;
  --s48px: 3rem;
  --s49px: 3.0625rem;
  --s50px: 3.125rem;
  --s51px: 3.1875rem;
  --s52px: 3.25rem;
  --s53px: 3.3125rem;
  --s54px: 3.375rem;
  --s55px: 3.4375rem;
  --s56px: 3.5rem;
  --s57px: 3.5625rem;
  --s58px: 3.625rem;
  --s59px: 3.6875rem;
  --s60px: 3.75rem;
  --s61px: 3.8125rem;
  --s62px: 3.875rem;
  --s63px: 3.9375rem;
  --s64px: 4rem;
  --s65px: 4.0625rem;
  --s66px: 4.125rem;
  --s67px: 4.1875rem;
  --s68px: 4.25rem;
  --s69px: 4.3125rem;
  --s70px: 4.375rem;
}
